.EightBall {
border-radius: 50%;
align-items: center;
justify-content: center;
text-align: center;
display: flex;
font-weight: bolder;
font-size: x-large;
color: white;
cursor: pointer;
height: 800px;
width: 800px;
}